# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Streamlit secrets
.streamlit/secrets.toml

# AWS / Lambda
lambda_package/
lambda_function.zip

# Datos locales
data/raw/
data/staged/
data/master/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/